<md-content class="md-padding">
    <div layout="row" layout-wrap>
        <div flex="80" flex-sm="50" flex-md="50">
            <p><strong>Enlume, Hyderabad India</strong></p>
        </div>
        <div flex="20" flex-sm="50" flex-md="50">
            <p><strong>Feb 2010 – Jul 2010</strong></p>
        </div>
        <div flex="100">
            <p>
                <strong>Description:</strong> Online Ordering For Restaurants system manages restaurants, franchises, sales, distributors and products. The system keeps track of the business data and helps to generate analytical reports. The system has modules for ordering, notifications and store management.
            </p>
        </div>
    </div>
    <div flex="100">
        <p>
            <strong>Responsibilities:</strong>
        </p>
        <ul>
            <li>Participates in the full SDLC including collaborative review meetings, estimations, design sessions, development and testing.</li>
            <li>Developed the User Interface using JSP/AJAX/ HTML / CSS/ Java Script.</li>
            <li>Designed and developed Use Cases, Class diagrams and Sequence Diagram.</li>
            <li>Implemented various J2EE design patterns like DAO, DTO, Factory Pattern and Singleton.</li>
            <li>Developed the application using Java Server Faces (JSF) and Spring MVC.</li>
            <li>Implemented GET and POST operations using Restful web services.</li>
            <li>Totally involved in building components using DOM and JaxB which helps to parse the XML.</li>
            <li>Written JDBC programs for callable statements, prepared statements written in Oracle and used TOAD tool to interact with database.</li>
            <li>Designed and developed Hibernate Dao’s using spring framework’s Hibernate Dao Support &amp; Hibernate Template</li>
            <li>Used CVS for version controlling.</li>
            <li>Used log4j for logging statements.</li>
        </ul>
    </div>
    <div flex="100">
        <strong>Environment:</strong>
        <p>Core Java 1.5, XML, XSD, JAXB, DOM, Tomcat, JSP, Oracle 10g, SQL/PL SQL, , Java script, CSS, HTML, Ajax, log4j, My Eclipse</p>
    </div>
</md-content>
