<md-content class="md-padding">
    <div layout="row" layout-wrap>
        <div flex="80" flex-sm="50" flex-md="50">
            <p><strong>Regions Bank, Jupiter, FL</strong></p>
        </div>
        <div flex="20" flex-sm="50" flex-md="50">
            <p><strong>Dec 2014 – Till date</strong></p>
        </div>
        <div flex="100">
            <p>
                <strong>Description:</strong> The project was initiated with the intent to advance and improve existing version of the online banking application currently in use. Subsequent releases added new features and functionalities (such as portfolio) with the final aim of regaining market share, improve customer loyalty and derive benefits from a service oriented architecture which helped expose individual business processes across multiple channels as per business demands to their customers. </p>
        </div>
    </div>
    <div flex="100">
        <p>
            <strong>Responsibilities:</strong>
        </p>
        <ul>
            <li>Involved in analysis, design and development and testing phases of the application development using Scrum Agile methodology.</li>
            <li>
                Involved in customization of product based on the customer's requirement, meeting delivery deadlines on development, testing, implementation phases of the system and customer relationship consulting.
            </li>
            <li>Worked on UML Class diagrams and Sequence diagrams for Design requirements.</li>
            <li>Work closely with the UI team and provide RESTful API’s which deliver data in JSON format needed by the User Interface which uses Angular JS.</li>
            <li>Used JavaScript, Angular JS, Ajax and JQuery for implementing Web pages</li>
            <li>Designed and developed web pages using with HTML5, CSS3, Ajax, Bootstrap, jQuery based on the W3C standards</li>
            <li>Extensively used JavaScript, jQuery to provide UI functionality. </li>
            <li>Built Web pages that are more user-interactive using AJAX, JavaScript, LESS, Bootstrap and AngularJS.</li>
            <li>Involved in making the application Responsive using Bootstrap, and used LESS pre-processor</li>
            <li>Involved in writing application level code to interact with APIs, Restful Web Services using AJAX, JSON.</li>
            <li>Developed mobile web application using native java scripts and backbone js by using existing hybrid mobile Application code base.</li>
            <li>Used GIT for version control and JIRA for defect tracking.</li>
            <li>Developed UI and implemented for some plug-in using JavaScript, HTML, CSS and XML.</li>
            <li>Maintain, enhance, and recommend solutions that best suit business and technology needs from UI standpoint.</li>
            <li>Define technical requirements based upon business requirements.</li>
            <li>Involved in Agile process, monthly Sprints, and daily Scrums to discuss the development of the application.</li>
            <li>Developed SQL scripts for data migration.</li>
            <li>Coordinated with the business on User Acceptance Tests and to get the approval from business on the design changes.</li>
        </ul>
    </div>
    <div flex="100">
        <strong>Environment:</strong>
        <p>HTML5, JavaScript, JQuery, CSS3, JSON, AJAX, Bootstrap, Backbone JS, Angular JS</p>
    </div>
</md-content>
