<md-content class="md-padding">
    <div layout="row" layout-wrap>
        <div flex="80" flex-sm="50" flex-md="50">
            <p><strong>Infosys Limited</strong>
            </p>
        </div>
        <div flex="20" flex-sm="50" flex-md="50">
            <p><strong>Aug 2010 – Jan 2013</strong>
            </p>
        </div>
        <div flex="100">
            <p><strong>Senior Software Engineer &amp; Application Developer</strong>
            </p>
        </div>
        <div flex="100">
            <p>
                <strong>Description:</strong> Loan Origination Product which supports the bank's Corporate Lending Operations. It provides a high level of accountability with an accurate audit trail. Dynamic loan origination workflow helps the bank work to be automated and reduce errors and manual intervention, which can delay the processing of loan applications.
            </p>
        </div>
    </div>
    <div flex="100">
        <p>
            <strong>Responsibilities:</strong>
        </p>
        <ul>
            <li>Developed Web-based applications in Java and Javascript. Using the MVC pattern and SOA architecture.</li>
            <li>Facilitated enterprises in making their applications safe and secure, by identifying defects from their Web applications.</li>
            <li>Expertise in Secure Software Development Life Cycle implementation, secure code analysis, Bug fixing, JUnit testing, Workflow methodology, Reverse Engineering and Knowledge Modeling.</li>
            <li>Provided Enterprise security solutions to Fortune 500 companies across Banking and Retail sectors.</li>
            <li>Educated IT development/ testing teams on application development practices.</li>
            <li>Felicitated with On Spot award by “Finacle” for admirable performance at work.</li>
            <li>Helped the team during the Build process by fixing the code as per the company standards.</li>
        </ul>
    </div>
    <div flex="100">
        <strong>Environment:</strong>
        <p>Core Java 1.6, XML, XSD, JAXB, DOM, JBoss, JSP, Oracle 10g, Toad, SQL/PL SQL, Java script, CSS, HTML, Ajax, log4j, My Eclipse</p>
    </div>
</md-content>
