<md-content class="md-padding">
    <div layout="row" layout-wrap>
        <div flex="80" flex-sm="50" flex-md="50">
            <p><strong>Bank of Tokyo (MUFG), NY</strong></p>
        </div>
        <div flex="20" flex-sm="50" flex-md="50">
            <p><strong>Feb 2013 – Nov 2014</strong></p>
        </div>
        <div flex="100">
            <p>
                <strong>Description:</strong> Product hub is an internal application for Bank of Tokyo business team. This application provides various features in reporting data in customized way and provides access controls for admins to determine relationship between customers and covering officers, creating portfolios, relations to portfolios.
            </p>
        </div>
    </div>
    <div flex="100">
        <p>
            <strong>Responsibilities:</strong>
        </p>
        <ul>
            <li>Worked on JAVA application and JAVA UI for web based applications</li>
            <li>Worked extensively on HTML/HTML5/CSS and Bootstrap for styling websites</li>
            <li>Developed a web application to display various Solace Queues, topic and cache details using JavaScript and JQuery libraries.</li>
            <li>Reduced the page load and grid creation time by using Ajax. The page shows thousands of rows of data in few seconds</li>
            <li>Designed dynamic and browser compatible pages using HTML5/HTML, DHTML, CSS and JavaScript.</li>
            <li>Developed user interfaces using JSP tags.</li>
            <li>Programming interaction with JavaScript and/or a library such as JQuery, Prototype.</li>
            <li>Testing for compliance to specified standards such as accessibility standards in the clients region or domain.</li>
            <li>Involved in extensive HTML4 coding.</li>
            <li>Applied industry best practices and standards when project requirements are lagging.</li>
            <li>Used SVN, Perforce as configuration management tool for code versioning and release.</li>
            <li>Created different features such as search, multi column sort for the grid.</li>
            <li>Did extensive JavaScript and JQuery programming to give AJAX functionality for the website.</li>
            <li>Further tasks include management of all MySQL database and all the required tables to store different queue information related to the site.</li>
            <li>Managing all versions of the website (Development, Beta and Production).</li>
            <li>Actively involved in configuring the website in all these environments.</li>
            <li>Managing all backups and recovery and version control for this environment.</li>
            <li>Followed Agile Practices for developing the application.</li>
        </ul>
    </div>
    <div flex="100">
        <strong>Environment:</strong>
        <p>JAVA, JSP, HTML, HTML4, MYSQL, Bootstrap, CSS, Apache Tomcat, Oracle, Eclipse, MS Excel, JQuery, JavaScript</p>
    </div>
</md-content>
